* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: #eee;
}

/* logo */
.left {
  display: block;
  /* border: 2px solid red; */
  position: absolute;
  left: 1vw;
  top: 2vh;
}
.left img {
  width: 8vw;
}

.left div {
  font-weight: bolder;
  line-height: 19px;
  font-size: 0.9vw;
  text-align: center;
  font-family: "Dela Gothic One", cursive;
}
 /* background image */
 .home_background img{
   width: 100vw;
   height: 100vh;
}

/* navbar */
.mid{
    display: block;
    width: 50vw;
    margin: 29px auto;
    position: absolute;
    top: 0%;
    right: 16vw;
}
.navbar {
      display: inline-block;
}
.navbar li {
      display: inline-block;
      font-size: 28px;
}
.navbar li a {
      color: white;
      text-decoration: none;
      padding: 7px 18px;
}

/* About */
.about {
  /* border: 2px solid red; */
  width: 80vw;
  margin: 0 auto;
}

.image {
  width: 20vw;
  height: auto;
  margin: 10px auto;
  /* border: 2px solid red; */
}

.aboutpara {
  color: #465454;
  font-size: 25px;
  text-indent: 60px;
  text-align: justify;
}

.firstletter {
  font-size: 45px;
}

.image img {
  width: 100%;
  display: block;
}

.design {
  height: 40px;
  width: 100vw;
  background-color: #555;
  width: 80vw;
}

.headabout {
  font-size: 50px;
  text-transform: capitalize;
  color: #465454;
  text-align: center;
}

/* image */
.container {
  width: 80vw;
  height: 100vh;
  position: relative;
  margin: auto;
}
.container img {
  /* display: inline; */
  /* position: absolute; */
  padding: 10px;
}
.one {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 56vw;
  height: 30vh;
  /* width: 50vw;
        height: 30vh; */
}
.two {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 24vw;
  height: 70vh;
}
.three {
  position: absolute;
  width: 24vw;
  height: 70vh;
  bottom: 0%;
  left: 0%;
}
.four {
  position: absolute;
  width: 32vw;
  height: 40vh;
  top: 30vh;
  left: 24vw;
}
.five {
  position: absolute;
  width: 56vw;
  height: 30vh;
  bottom: 0%;
  right: 0%;
}

/* form */
.form {
  width: 40vw;
  margin: 10px auto;
  background-color: black;
  color: white;
  border-radius: 25px;
  font-size: 20px;
  padding: 20px;
}
.form h1 {
  text-align: center;
}
.form input {
  text-align: center;
  padding: 10px;
  display: block;
  border-radius: 25px;
  width: 28vw;
  height: 7vh;
  margin: 5px auto;
}
.form button {
  display: block;
  width: 74%;
  margin: 20px auto;
}
.btn {
  margin: 0px 9px;
  background-color: orange;
  color: white;
  padding: 4px 14px;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
}

/* contact */
.contact {
  background-color: #333;
}

.contact ul {
  list-style-type: none;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
}

.contact a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

.contact a:hover {
  color: #555;
}

@media screen and (min-width: 768px) {
  .contact ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    grid-template-areas:
      "start start start"
      "fb insta tw";
  }

  .start {
    grid-area: start;
  }
  .fb {
    grid-area: fb;
  }
  .insta {
    grid-area: insta;
  }
  .tw {
    grid-area: tw;
  }
} /* end media 768 */
